<a href="https://colab.research.google.com/github/rsamodder/Basic_Python/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*2. Variables in python*

In [ ]:
_break = 5
print(_break)
birth_year = 1999
current_year = 2024
age = current_year - birth_year
print(age)
first = "Rupa"
middle = "Samodder"
last = "Retu"
full_name = first + ' ' + middle + ' ' + last
print(full_name)

5
25
Rupa Samodder Retu

*3. Numbers*

In [ ]:
llong = 92
wide = 48.8
area = llong * wide
print(area)

packets = 9
Each_packet = 1.49
gave = 20
back = gave - (packets * Each_packet)
print(back)

bathroom_tiles = 5.5 ** 2
per_cost = 500
total_cost = bathroom_tiles * per_cost
print(total_cost)

print('Binary Format:', format(13747774,'b'))

4489.599999999999
6.59
15125.0
Binary Format: 110100011100011000111110

*4. Strings*

In [ ]:
street = 'Golap Lane'
city = 'Dhaka'
country = 'Bangladesh'
address = street + ', ' + city + ', ' + country
print(address)
address = f'{street}, {city}, {country}'
print(address)
address = street + '\n' + city + '\n' + country
print(address)

var = "Earth revolves around the sun"
print(var[6:14])
print(var[-3:])
print(var[-3:-1])
print(var[:5])
print(var[-14:])

fruits = 4
vegetables = 10
print(f'I eat {vegetables} veggies and {fruits} daily')

s='maine 200 banana khaye'
print(s[:5]+ ' 10 samosa ' + s[-5:])
s='maine 200 banana khaye'
s=s.replace('banana','samosa').replace('200','10')
print("Using single line:",s)

Golap Lane, Dhaka, Bangladesh
Golap Lane, Dhaka, Bangladesh
Golap Lane
Dhaka
Bangladesh
revolves
sun
su
Earth
around the sun
I eat 10 veggies and 4 daily
maine 10 samosa khaye
Using single line: maine 10 samosa khaye

*5. Lists*

In [ ]:
expense = [2200, 2350, 2600, 2130, 2190]
print(expense[1] - expense[0])
print(expense[0] + expense[1] + expense[2])
expense.append(1980)
print(expense)
expense[3] = expense[3] - 200
print(expense)

heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))
heros.append('black panther')
print(heros)
heros.remove('black panther')
print(heros)
heros.insert(3,'black panther')
print(heros)
heros[1:3] = ['doctor strange']
print(heros)
heros.sort()
print(heros)

150
7150
[2200, 2350, 2600, 2130, 2190, 1980]
[2200, 2350, 2600, 1930, 2190, 1980]
5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'iron man', 'captain america']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

*8. If Statement*

In [ ]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
city = input("Enter a city name:")
if city in india:
  print(f'{city} is in India')
elif city in pakistan:
  print(f'{city} is in Pakistan')
elif city in bangladesh:
  print(f'{city} is in Bangladesh')
else:
  print(f'{city} is not in any country')

city1 = input("Enter a city name:")
city2 = input("Enter a city name:")
if city1 in india and city2 in india:
  print(f'{city1} and {city2} are in India')
elif city1 in pakistan and city2 in pakistan:
  print(f'{city1} and {city2} are in Pakistan')
elif city1 in bangladesh and city2 in bangladesh:
  print(f'{city1} and {city2} are in Bangladesh')
else:
  print(f'{city1} and {city2} are not in any country')

sugar = int(input("Enter sugar level:"))
if sugar < 80:
  print("Sugar level is low")
  print("Eat more")
elif sugar > 100:
  print("Sugar level is high")
  print("Stop eating")
else:
  print("Sugar level is normal")

Enter a city name:banglore
banglore is in India
Enter a city name:banglore
Enter a city name:khulna
banglore and khulna are not in any country
Enter sugar level:32
Sugar level is low
Eat more

*9. For loop*

In [4]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
Heads = 0
for item in result:
  if item == "heads":
    Heads += 1
print("Heads:",Heads)
print("Tails:",len(result)-Heads)

num = 1
print("Square of all numbers between 1 to 10 except even numbers:")
for num in range(1,10):
  if num%2 != 0:
    odd = num ** 2
    print(odd)

expense_list = [2340, 2500, 2100, 3100, 2980]
expense = int(input("Enter your expense for any month:"))
for item in expense_list:
  if item == expense:
    print("You have this month's expenses")
    break
else:
  print("You don't have this month's expenses")

for race in range(1,5):
  print("Are you tired?")
  answer = input("Enter yes or no:")
  if answer == "yes":
    print("You didn't finish the race")
    break
else:
  print("Congratulations! You finished the race")

for i in range(1,6):
  for j in range(1,i+1):
    print("*",end="")
  print()

Heads: 4
Tails: 6
Square of all numbers between 1 to 10 except even numbers:
1
9
25
49
81
Enter your expense for any month:2
You don't have this month's expenses
Are you tired?
Enter yes or no:yes
You didn't finish the race
*
**
***
****
*****

*10. Functions*

In [16]:
def calculate_area(base, height, shape):
  if shape == "triangle":
    area = (base * height) / 2
  elif shape == "rectangle":
    area = base * height
  else:  # Handle invalid shape input
    print("Invalid shape provided. Defaulting to triangle.")
    area = (base * height) / 2
  return area

base = int(input("Enter base: "))
height = int(input("Enter height: "))
shape = input("Enter shape (triangle or rectangle, or press Enter for default triangle): ") # Prompt with default option

# If shape is empty, use default triangle
if not shape:
  shape = "triangle"

a = calculate_area(base, height, shape)
print(a)


def print_pattern(n):
  for i in range(1,n+1):
    print("*" * i)
  return

n = int(input("Enter the number of lines you want in your pattern:"))
n = print_pattern(n)

Enter base: 1
Enter height: 2
Enter shape (triangle or rectangle, or press Enter for default triangle):
1.0
Enter the number of lines you want in your pattern:4
*
**
***
****

*11. Dictionaries and Tuples*

In [6]:
population = {"China":143, "India":136, "USA":32, "Pakistan":21}
print(population)
print(population.keys())
print(population.values())
print(population.items())

inputs = input("Enter four type of inputs(print, add, remove, query):")
if inputs == "print":
  for key in population:
    print(key,"==>",population[key])

elif inputs == "add":
  country = input("Enter country name:")
  if country in population:
    print("Country already exists")
  else:
    population[country] = int(input("Enter population:"))
  for key in population:
    print(key,"==>",population[key])

elif inputs == "remove":
  country = input("Enter country name:")
  if country in population:
    del population[country]
  else:
    print("Country not found")
  for key in population:
    print(key,"==>",population[key])

elif inputs == "query":
  country = input("Enter country name:")
  if country in population:
    print(population[country])
  else:
    print("Country not found")

{'China': 143, 'India': 136, 'USA': 32, 'Pakistan': 21}
dict_keys(['China', 'India', 'USA', 'Pakistan'])
dict_values([143, 136, 32, 21])
dict_items([('China', 143), ('India', 136), ('USA', 32), ('Pakistan', 21)])
Enter four type of inputs(print, add, remove, query):remove
Enter country name:Pakistan
China ==> 143
India ==> 136
USA ==> 32

In [15]:
Stocks = {
    "info": [600,630,620],
    "ril": [1430,1490,1567],
    "mtl": [234,180,160]
}
inputs = input("Enter an operation(print or add):")
if inputs == "print":
  for key in Stocks:
    avg = sum(Stocks[key]) / len(Stocks[key])
    print(key,"==>",Stocks[key], "==> avg:", f"{avg:.2f}")
elif inputs == "add":
  company = input("Enter company name:")
  if company in Stocks:
    print("Company already exists")
  else:
    # Get stock prices as a list of integers
    stock_prices_str = input("Enter stock prices separated by commas (e.g., 100,110,120):")
    stock_prices = [int(price) for price in stock_prices_str.split(",")]

    # Assign the list of stock prices to the new company
    Stocks[company] = stock_prices # Assign to the new company using the 'company' variable
  for key in Stocks:
    avg = sum(Stocks[key]) / len(Stocks[key])
    print(key,"==>",Stocks[key], "==> avg:", f"{avg:.2f}")

Enter an operation(print or add):add
Enter company name:dlg
Enter stock prices separated by commas (e.g., 100,110,120):234,556,665
info ==> [600, 630, 620] ==> avg: 616.67
ril ==> [1430, 1490, 1567] ==> avg: 1495.67
mtl ==> [234, 180, 160] ==> avg: 191.33
dlg ==> [234, 556, 665] ==> avg: 485.00

In [16]:
def circle_calc(radius):
  import math
  area = math.pi * (radius ** 2)
  circumference = 2 * math.pi * radius
  return area, circumference

radius = int(input("Enter radius:"))
area, circumference = circle_calc(radius)
print("Area:", area)
print("Circumference:", circumference)

Enter radius:23
Area: 1661.9025137490005
Circumference: 144.51326206513048